/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
* {
   -fx-custom-purple-color: #e58fab;
   -fx-custom-pink-color: #f6bfc6;
}

.radio-button .dot {
    -fx-background-color: -fx-custom-purple-color;
    -fx-padding: 1.9px;
}

.radio-button .radio {
	/* -fx-scale-shape: true;
	-fx-border-width: 1px   ;
	-fx-border-radius    : 1px  ;*/
    -fx-background-color: black;
    -fx-padding: 2px;
}

.radio-button:selected {
	-fx-background-color: -fx-custom-pink-color;
}

.button {
    -fx-background-color: null;
    -fx-padding: 0.5px;
}

.label {
	-fx-background-color: white;
	-fx-background-radius: 10px;
}

.scroll-pane {
	-fx-background: transparent;
	-fx-background-color: transparent;
}

.anchor-pane {
    -fx-background-color: null;
}

