/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

* {
   -fx-custom-purple-color: #e58fab;
   -fx-custom-pink-color: #f6bfc6;
}

.radio-button .dot {
    -fx-background-color: -fx-custom-purple-color;
    -fx-padding: 1.9px;
}

.radio-button .radio {
	/* -fx-scale-shape: true;
	-fx-border-width: 1px   ;
	-fx-border-radius    : 1px  ;*/
    -fx-background-color: black;
    -fx-padding: 2px;
}

.radio-button:selected {
	-fx-background-color: -fx-custom-pink-color;
}

.label {
	-fx-background-color: white;
	-fx-background-radius: 10px;
}

.text-field {
	-fx-border-color: transparent;
	-fx-border-radius: 0px;
	-fx-text-box-border: transparent;
}

.scroll-pane {
	-fx-background: transparent;
	-fx-background-color: transparent;
}

.anchor-pane {
    -fx-background-color: transparent;
}

.split-pane {
	-fx-background: transparent;
	-fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
	-fx-padding: 10px;
   	-fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
	-fx-padding: 10px;
   	-fx-background-color: transparent;
}