/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

* {
   -fx-custom-purple-color: #e58fab;
   -fx-custom-pink-color: #f6bfc6;
   -fx-custom-grey-color: #dfdfdf;
}

.button {
	-fx-background-radius: 10px;
	-fx-background-color: white;
	-fx-padding: 2px;
}

.button:pressed {
	-fx-background-color: -fx-custom-grey-color;
}

.toggle-button {
	-fx-background-radius: 10px;
	-fx-background-color: white;
	-fx-padding: 2px;
}

.toggle-button:pressed {
	-fx-background-color: -fx-custom-grey-color;
	
}